@{
    ViewData["Title"] = "Hunters Resume";
}
<h1>@ViewData["Title"]</h1>

<p>Hunter Elam
(205) 337-8268 • hunterelam21@gmail.com • Github: Drerrday • linkedin.com/in/hunter-elam • Codewars: Drerrday • MBTI: INFJEDUCATION
TrueCoders: Advanced Technical Training June 2019 - August 2019
The True Coders training program is a project and lecture-based training program that aims to fill the growing need for data science and software development jobs in Alabama. Projects include multiple personal and group-oriented tasks that involve multiple programming languages over the course of the program.
● Over 500 hours of intensive, project-based training in programming languages and other technical skills, such as SQL, C#, .NET Core, Python, Java, Git, ASP.NET MVC, HTML, CSS, and JavaScript.
● These skills were developed by building multiple C# and SQL projects in Visual Studio and Visual Studio Code
● C# and SQL Projects were tracked in Git and GitHub for source control
● Managed SQL databases using the CRUD operations in MySQL
University of Alabama - Software Engineering major June 2018 - August 2019 ● Worked at Restore - Habitat for Humanity, a donation based company, refurbish items donated. Member of the Phi Kappa Sigma fraternity, working events around campus and making a multitude of connections. Former member of the Million Dollar Band and played in the trumpet section.
TECHNICAL PROJECTS
CRUD Image Database Website: ASP.NET MVC | C# | HTML | CSS | SQL● Created an image model with a name, ID and image path properties in C#. Created a view image model to display the image name and file path
● Created an image repository in C# wit CRUD methods for inserting new images, displaying a list of images and deleting images
● Used SQL commands and connections in each CRUD method for inserting new images, displaying a list of images and deleting images
● Used HTML to create an image upload view page and then created a corresponding C# controller to save the image into the image folder and store the file path in the SQL database
● Used HTML and CSS to create view pages with a page for displaying a grid of images and a page to display a time-lapse of all images. Created corresponding controllers for the grid page and time-lapse in C#CSV Parsing and Geolocation TDD Project: C#● Application made in Visual Studio using C#, .NET Core, and xUnit testing
● ●
● ●
● ●
Uses a CSV document which lists the city and coordinates of different restaurants The application splits each line of the document into an array ([location name, latitude, longitude])
Test-driven development ensures that invalid and missing data is handled correctly If the data is out of bounds or cannot be parsed, then the parse method returns null.
Otherwise, the latitude and longitude are parsed
The distance between each pair of coordinates is calculated in order to find the two restaurants furthest apart
Logging throughout entire program and tracked with gitPython Snake Game: Python● ● ●
Application made in Visual Studio Code Run through Pygame in the terminal Handles user input and keeps scoreTruck Review MVC Project: C# | SQL | CSS | Bootstrap● Application made in Visual Studio using C#, SQL, .NET Core.
● Uses two tables in a SQL database for trucks and reviews using CRUD.
● Collaborated with two others with git with use of push pull methodsCalculator With Tests: C# | C++ | QBasic
● Application was made in Visual Studios using C# ● The app utilizes Test-driven development
● Used the cadence of arrange, act, and assert
Get To Know Me User Information Application: C#
● Application was made in Visual Studios using C#
● Focus on methods, concatenation, and interpolation
● Parsing and re-using a method to ask the user for input (DRY)
Automated Trig-o-matric: QBasic
I used algorithms in QBasic in DosBox to complete my homework in trigonometry, it would take me 5 minutes to write out the code for a homework assignment or project and then another 10 to use the program I made to complete the assignment with efficiency and accuracy.
PROFESSIONAL EXPERIENCE
Draftech as Assistant Detailer: Auto-Cad made changes in correlation to the job. Structural and technical skills developed. Auto-Cad knowledge.
ACCOMPLISHMENTS/CERTIFICATIONS
● 1st chair Trumpet in High-school for 3 years ● Python Certification● C# Certification
● SQL Certification ● Swift CertificationPersonal Affiliations
Member of the Phi Kappa Sigma Fraternity Member of the Million Dollar Band
Draftech</p>
